<% if commentable.comments.empty? %>
  <%= "no comment" %>
<% else %>
  <% commentable.comments.each do |comment| %>
    <hr>
    <p>
    <strong>User:</strong>
    <% user = User.find_by(id: comment.user_id) %>
    <%= link_to user.name, user %>
    <%= link_to user.email, user if user.name.empty? %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Posting time:</strong>
    <%= l comment.created_at, format: :long %>
  </p>
  <% end %>
<% end %>

