<% if commentable.comments.empty? %>
  <%= t('.notice') %>
<% else %>
  <% commentable.comments.each do |comment| %>
    <hr>
    <p>
    <strong><%= Comment.human_attribute_name(:user) %>:</strong>
    <% user = User.find_by(id: comment.user_id) %>
    <%= link_to user.name, user %>
    <%= link_to user.email, user if user.name.empty? %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:comment) %>:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:posting_time) %>:</strong>
    <%= l comment.created_at, format: :long %>
  </p>
  <% end %>
<% end %>

