<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong><%= Report.human_attribute_name(:user) %>:</strong>
  <% if @report.user.name.empty? %>
    <%= link_to @report.user.email, @report.user %>
  <% else %>
    <%= link_to @report.user.name, @report.user %>
  <% end %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:posting_time) %>:</strong>
  <%= l @report.created_at, format: :long %>
</p>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %> |
<% end %>

<%= link_to t('views.common.back'), reports_path %>

<p>
<%= render 'comments/form', commentable: @report %>
<%= render 'comments/list', comments: @report.comments %>
</p>
